.scrolling-container img {
    width: auto;
    animation: desplazamiento 10s linear infinite;
}

@keyframes desplazamiento {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-600px); /* Ancho del contenedor negativo */
    }
}